.switch {
	float: left;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	cursor: pointer;
	background: url(../images/switch.png) 0 0 no-repeat;
	margin-left: 7px;
	margin-top: 0px;
}

.switch .ss-on {
	position: absolute;
	display: block;
	width: 30px;
	height: 17px;
	background: url(../images/switch.png) -30px 0 no-repeat;
}


.switch .ss-slider {
	position: absolute;
	left: 0px;
	width: 15px;
	height: 16px;
	margin: 0 1px;
	background: url(../images/switch.png) -60px 0 no-repeat;
}

.switch.icons {
	background-position: 0 -17px;
}

.switch.icons .ss-on {
	background: url(../images/switch.png) -30px -17px no-repeat;
}


#switch02 { 
    margin-top: -14px;
    float: right;
}

#switch01 { 
    margin-top: -14px;
    float: right;
}

#switch00 { 
    margin-top: 2px;
}

