#tabs {
    position: absolute;
	float:left;
    min-width:500px;
	width:100%;
	background:#F4F7FB;
	font-size:120%;
	line-height:normal;
	border-bottom:1px solid #BCD2E6;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0 5%;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	background:url("../images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#tabs a span {
	float:left;
	display:block;
	background:url("../images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#627EB7;
	}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#627EB7;
	}
#tabs a:hover {
	background-position:0% -42px;
	}
#tabs a:hover span {
	background-position:100% -42px;
	}  