/* Header */
.tsr-mobile .jqm-header {
    background: #fff;
    border-top: 4px solid #3eb249;
    border-bottom-color: #eee;
}
.tsr-mobile .jqm-header h2 {
    display: inline-block;
    margin-bottom: -3px;
    margin-top: 5px;
}
.tsr-mobile .jqm-header h2 a {
    display: inline-block;
    text-decoration: none;
    min-height: 40px;
}
.tsr-mobile .jqm-header h2 img {
    display: block;
    width: 120px;
    height: auto;
}
.tsr-mobile .jqm-header h2 > img {
    display: inline-block;
}
.tsr-mobile .jqm-header p {
    position: absolute;
    bottom: -2em;
    left: 1em;
    margin: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.tsr-mobile .jqm-header .ui-btn {
    width: 2em;
    height: 2em;
    background: none;
    border: 0;
    top: 50%;
    margin-top: -1em;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    opacity: .4;
    filter: Alpha(Opacity=40);
}

/* Footer */
.tsr-mobile .jqm-footer.ui-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
}
.tsr-mobile .jqm-footer {
    border-top: 1px solid #3eb249;
}
.tsr-mobile .jqm-footer p {
    font-size: .8em;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align:center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
/*	margin: 0 1.25em 1.25em;*/
}
.tsr-mobile .jqm-footer p:first-child {
    font-size: 1em;
    color: #666;
    font-weight: 400;
    text-align:center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}


/* Content */
.ui-flipswitch  {
    margin-top: -2px;
} 

.tsr-mobile .jqm-content {
	padding-top: 1em;
}
.tsr-mobile .jqm-content > h1,
.tsr-mobile .jqm-content > h2,
.tsr-mobile .jqm-content > h3,
.tsr-mobile .jqm-content > p,
.tsr-mobile .jqm-content > ul li,
.tsr-mobile .jqm-content > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.tsr-mobile .jqm-content > h1 {
	font-size: 2.0em;
	margin: 0 0 .625em;
}
.tsr-mobile .jqm-content > h2 {
	color: #3eb249;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 1.6em;
	padding-bottom: .2em;
	margin: 0 0 .7375em;
}
.tsr-mobile .jqm-content > h3 {
	color: #3eb249;
	background-color: transparent;
	font-size: 1.4em;
	margin: 0 0 1em;
}
.tsr-mobile .jqm-content > p {
	font-size: 1.2em;
	line-height: 1.5;
}
.tsr-mobile .jqm-content > ul:not(.jqm-list) li {
	font-size: 1.2em;
	line-height: 1.5;
}
.tsr-mobile .jqm-content > p {
	margin: 0 0 1.25em;
}
.tsr-mobile .jqm-content > ul,
.tsr-mobile .jqm-content > ol {
	padding-left: 1.3em;
}
.tsr-mobile .jqm-content > .ui-listview {
	padding-left: 0;
}
.tsr-mobile .jqm-content > a,
.tsr-mobile .jqm-content > p a,
.tsr-mobile .jqm-content > ul:not(.jqm-list) li a {
	font-weight: 400;
	text-decoration: none;
}
.tsr-mobile .jqm-content strong {
	font-weight: 700;
}
.tsr-mobile .jqm-content > p strong {
	font-weight: 400;
}

@media (min-width: 60em) {

    .tsr-mobile .jqm-header h2 img {
            width: 169px;
            height: 50px;
    }
    .tsr-mobile .jqm-header p {
            bottom: auto;
            left: auto;
            top: 50%;
            right: 15%;
            font-size: 1.2em;
            margin-top: -.625em;
            margin-bottom: -.625em;
    }
    .tsr-mobile .jqm-footer p {
            float: right;
            margin: 1em 3% 1em 1.5em;
    }
    .tsr-mobile .jqm-footer p:first-child {
            float: left;
            margin: 0.65em 1.25em 0.75em 3%;
    }
    .tsr-mobile .jqm-content.jqm-fullwidth {
            width: auto;
            padding-left: 15%;
            padding-right: 15%;
            float: none;
    }

    .rtable-breakpoint td,
    .rtable-breakpoint th,
    .rtable-breakpoint tbody th,
    .rtable-breakpoint tbody td,
    .rtable-breakpoint thead td,
    .rtable-breakpoint thead th {
            display: table-cell;
            margin: 0;
    }
    /* Hide the labels in each cell */
    .rtable-breakpoint td .ui-table-cell-label,
    .rtable-breakpoint th .ui-table-cell-label {
            display: none;
    }
    
}

@media (min-width: 35em) {
    .jqm-block-content {
            min-height: 18em;
    }
}

.ui-table-reflow.rtable-breakpoint td, .ui-table-reflow.rtable-breakpoint th  {
    box-sizing:content-box;
    white-space: nowrap;
}


/* Selectable */
.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}

/* Collapsible */
/* Basic settings */
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom-width: 0;
}
/* collapse vertical borders */
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
.ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
    border-bottom-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
    border-top-width: 0;
}
/* Remove right borders */
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-right-width: 0;
}
/* Remove left borders */
/* Here, we need class ui-listview-outer to identify the outermost listview */
.ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
.ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-left-width: 0;
}

.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
    float: left;
    min-width: 20%;
}

.ui-table-reflow tbody th {
    margin-top: 1em;
}

.ui-table-reflow {
    margin-top: -1em;
}

#flt {
    float: left;
}

[id^=chli-] {
    left: 3%;
    width: 97%;    
}

.ui-flipswitch {
    float: left;
}
[id^=del-], [id^=edt-] {
    float: left;
    margin-top: -4px;
}
#tcntrl {
    min-width: 140px;
    width: 140px;
}

h6 {
    margin: 0;
    font-size: 250%;
    text-align: center;
}
h7 {
    font-size: 150%;
}

.ui-checkbox.ui-mini{
    width: 14.285%;
}
.ui-controlgroup-controls  {
    width: 100%;
}

#header1 {
    text-align: center;
}