body {
    margin:0px; 
    font: 82.5% "Trebuchet MS", sans-serif;
    min-width:1000px;
}

#menus {
    left: 20px;
    right: 20px;
    font-size:130%;
    height: 40px;
    /*position: relative;*/
}

#tabs {
    position: absolute;
    min-width: 970px;
    float:left;
}
    
#tabs ul {
    margin:0px;
    list-style:none;
}

#tabs li, #tabs a  {
    display:inline;
    cursor:pointer; 
}

#logo {
    z-index: 1;
    float:right;
    clear:both;
}

div#mybody {
    font-size:93%;
    line-height:normal;
    border-bottom:1px solid #BCD2E6;
    padding: 20px 20px 0px 20px; 
    min-height: 100vh;
}

div#about {
    font-size:140%;
    padding-top: 20px;        
}

div#changelog {
    font-family: courier,monospace;
    white-space: pre;
}

[id^=event]:not([cnt="0"]) {
    cursor: pointer;
}

[id^=event][rid="-2"] {
    background: rgba(79, 155, 238, 0.1);
    pointer-events: none;
}

[id^=icons-], [id^=iconsEPG-], [id^=iconsRec-] , [id^=iconsERec-]  {
    position: relative;
    cursor: pointer;
    float: left;
    height: 14px;
    width: 14px;
    margin-left: 7px;
}

[id^=iconsEPG-], [id^=iconsRec-] , [id^=iconsERec-]   {
    cursor: default; 
    clear: none;
}  

[id^=icons-] span.ui-icon  {
    float: left;
    margin: -2px -2px;
}
    
[id^=iconsRec-] span.ui-icon, [id^=iconsERec-]  span.ui-icon, [id^=iconsEPG-] span.ui-icon, [id^=iconsDisable-] span.ui-icon {
    float: left;
    margin-top: -1px;
    margin-left: -1px;
}

.ui-tooltip {
    max-width: 800px;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
    
label,option { display:block;}
label {clear:both; }

input#ret, select#channel { display:block;}
input.text { margin-bottom:8px; width:95%; padding: .2em; }
input.file { margin-bottom:118px; width:95%; padding: .2em; }
fieldset { padding:0; border:0; margin-top:15px; }
h1 {
    font-size: 1.2em; 
    margin-top: 44px; 
    float: none;
    left: 0px;
    min-width: 750px;
}
[id^=configtabs-] table th { width: 50%; }

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { 
    border: 1px solid transparent; 
    /*padding: 0.3em; */
}
#timepicker_inline_div1 { width:45%; float:left; }
#timepicker_inline_div2 { width:45%; float:left; margin-left:10px; }
select#channel { width:85%; float:left; margin-bottom:8px; padding: .2em; } 
label#append {float: left; margin-top: 3px;}
#chb1 { width:46%; float: left;}
#chb2 { width:46%; float: right;}

[id^=cfg_].text { margin-bottom:0px; width:95%; padding-left: 0.4em; }

.ui-button-text-only .ui-button-text  { padding: 2px 2px; }

#weekday {
    min-width: 300px;
}

#channelgroup .ui-selecting { background: #FECA40; }
#channelgroup .ui-selected { background: #F39814; color: white; }
#channelgroup { 
    position: relative; 
    margin-top: 50px; 
}

#channelgroup div { 
    text-align: center; 
    position: absolute; 
    overflow:hidden; 
    box-sizing: border-box;
}

[id="channelgroup"][cnt="0"] {
    position: absolute !important; 
    z-index: 5;
}

#dividegroup {
    box-sizing:border-box;
    position: absolute; 
}

#divider {
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-right-width: 0px; 
    border-bottom-width: 0px;
    position: absolute;
    float: left;
    margin-top: 30px; 
}

#epg_cname { 
    position: absolute; 
    width: 200px;
    top: 170px;
}

#datepicker_epg, #searchepg { 
    width: 150px; 
    float:left; 
    margin-left: 5px; 
    margin-right: 5px;
    z-index: 7;
    position: relative;
}

#date_prev, #date_next, #searchepgbutton, #grabepg, #flipepg  {
    float: left;
    height: 27px;
}
#flipepg {
    margin-top: -0.3em;
}

#date_prev {
    margin-left: 5px;    
    margin-right: -5px;    
}
#date_next {
    margin-left: -5px;    
    margin-right: 5px;    
}

#label_epg_1, #label_epg_2 { 
    float:left; 
    margin-top: 3px; 
}

th.ccontrols { width: 8.5em; min-width: 8.5em; }
th.cid { width: 70px; }
th.cname { width: 150px; }
th.cext { width: 50px; }

th.rcontrols { width: 180px; }
th.rrecu { width: 100px; }
th.rtill { width: 15%; }
th.rat { width: 15%; }

th.ldatetime { width: 240px; }
th.lout { width: 30px; }

th.echan { width: 150px; }
th.etit{ width: 200px; }
th.estart { width: 200px; }
th.estop { width: 200px; }
th.econtrol { width: 30px; }

[id^=wwd] { width: 13.3%; }
[id^=wwd].ui-state-active { background: #accccc; }

[id^=iconsDisable] { 
    float:left; 
    margin-top: 0px;
    margin-right: 8px; 
}

#label_config_saved { float: right;  margin-top: 5px; }

table.dataTable { color:black; }
table.dataTable a { color:black; }

div#users-contain { margin: 20px 0px; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 20px; text-align: left;  }

#cfg_recordpath { width: 70%; float: left; }
#button_pathchooser { width: 20%; float: right; margin-right: 20px; }

#mobipic {
    padding: 0;
    margin-top: 0.2em;  
    margin-left: 0.1em;
    margin-right: 0.3em;
    
    /*padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.22em;*/
}

#loaderImage {
    margin-left: 50%;
    margin-top: 20%;
    position: absolute;
    z-index: 999;
}

#slider_zoom {
    float: left;
    width: 400px;
    margin: 0.1em 0.5em 0em 1em;
}
#zoom_amount {
    width: 35px;
    float: left; 
    margin-top: -0.2em;
}
#zoom_info {
    margin-bottom: -1em;
    float: left;
}
.lefty {
    float: left; 
    margin-bottom: 10px;
}

#chartheader {
    float: left;
    width:1200px;
    margin-top: -2.1em;
}

.clearer {
    clear: both;
}

table.dataTable tr.odd { background-color: #f9f9f9; }
table.dataTable tr.even { background-color: #ffffff; }
table.dataTable tr.odd td.sorting_1 { background-color: #f1f1f1; }
table.dataTable tr.even td.sorting_1 { background-color: #fafafa; }
div#users-contain table th { font-weight: bold; }

.grabepgclass {
    float: left;
    margin: -5px 0 10px 10px;
}

#mainmenu {
    font-family: Arial, Helvetica, sans-serif;
}